<!DOCTYPE html>
<html>
    <head>
         <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Welcome to Rishabh's Page
        </h1>
        <p> This is my first nodejs project</p>
    </body>
</html>